/*Dear reviewer,
I hope the capstone project I built meets your satisfaction. I did encouter some
problems that I couldn't resolve and would like to learn how can I improve.
waiting on your replay,

Yariv Shamash*/

/*general*/
html{
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
}

.bold{
  font-weight: bold;
}

.grey{
  background-color: #D3D5D5;
}

h1{
  font-size: 2rem;
  color: #4D4D4D;
  font-weight: 800;

}

h2{
  font-size: 1.5rem;
  color: #4D4D4D;
  font-weight: 800;
  line-height: 1.5;
}

h3{
  font-size: 1.25rem;
  color: #4D4D4D;
  font-weight: 700;
  line-height: 1.5;
}

p{
  line-height: 1.5;
}

.button{
  background-color: #4D4D4D;
  height: 2rem;
  text-align: center;
}

.button a{
  display: block;
  margin: 0.5rem auto;
  color: whitesmoke;
  font-weight: bold;
}

/*Header*/

header{
  position: fixed;
  width: 98.6%;/*value of 98.6% selected because 100% overflowed the screen*/

  display: inline-flex;
  justify-content: space-between;
  align-items: center;

  background-color: white;
  padding: 1rem 0.5rem;
  z-index: 1;

  font-family: 'Nanum Gothic', sans-serif;
  font-size: 1.5rem;
}

  .logo{
    margin-left: 1rem;
    display: inline-flex;
    align-items: center;
  }

    .logo img{
      width:auto;
      height: 3rem;
    }

  nav ul{
    display: inline-flex;
  }

    nav li{
      margin-right: 1rem;
    }

      nav li img{
        display: none;
      }

      nav li a{
        text-decoration: none;
        color: inherit;
      }


/*banner*/

.banner{
  position: relative;
  top: 5rem;

  display: flex;
}

    .banner .container{
      width: 60%;
    }

  .banner img{
    width: 94%;
    height: 90%;
    margin: 2rem 1.5rem;
  }

    .banner .side{
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 25%;
    }

    .banner h3{
      margin: 2rem auto;
    }

/*on-campus*/
.on-campus{
  display: flex;
  position: relative;
  top: 5rem;
  padding: 2rem 0;
}

  .on-campus .left{
    width: 60%;
    height: 60%;
  }

    .on-campus .left .img-container{
      display: block;
      width: 100%;
      margin: 0rem 1.5rem;
    }

      .on-campus .left .img-container img{
        width: 94%;
        height: 90%;

      }

    .on-campus .left .quote{
      margin: 2rem 1.5rem;
    }

      .on-campus .left .quote p{
        margin: 1.5rem auto;
      }

  .on-campus .right{
    width: 40%;
    display: flex;
    flex-direction: column;
  }



    .on-campus .right .feature{
      display: flex;
      border: 0.5px solid #D3D5D5;
      padding: 1rem;
      background-color: white;
      margin-bottom: 0.5px;
      transition: background-color 0.5s ease;
    }

    .on-campus .right .feature:hover{
      background-color: #D3D5D5;
    }

      .on-campus .right .feature .text{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 65%;
        padding: 2rem;
      }

        .on-campus .right .feature .text a{
            color: blue;
        }

      .on-campus .right .feature img{
        display: flex;
        flex-direction: column;
        width: 35%;
        height: 35%;
      }

/*online*/

.online{
  position: relative;
  top: 5rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 4.5rem;
}

  .online h2{
    margin: 2rem auto;
  }

  .online .container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

  }

    .online .container .element{
      background-color: white;
      width: 30%;

      display: flex;
      flex-direction: column;

      margin-bottom: 2rem;

    }

      .online .container .element img{
        height: auto;/*assinged auto like stated in the redline but the
        proportions are NOT satisfying*/
      }

      .online .container .element .text{
        padding: 1rem;
      }

        .online .container .element .text h4{
          margin: 0.5rem auto;
          color: grey;
        }

        .online .container .element .text p{
          color: grey;
        }
/*thesis exhibit*/
.thes-ex{
  display: flex;
  flex-direction: column;
  align-items: center;

  position: relative;
  top: 5rem;
  padding: 2rem 0;
}

  .thes-ex h2{
    margin-bottom: 2rem;
  }

  .thes-ex .container{
    display: flex;
  }

    .thes-ex .left{
      width: 60%;
      height: 60%;
    }

      .thes-ex .left .vid-container{
        display: block;
        width: 100%;
        margin: 0rem 1.5rem;
      }

        .thes-ex .left .vid-container video{
          width: 94%;
          height: 90%;
        }

     .thes-ex .left .quote{
          margin: 1.5rem 1.5rem 0 1.5rem;
        }

          .thes-ex .left .quote p{
            margin-top: 0.5rem;
          }

    .thes-ex .right{
      width: 40%;
      display: flex;
      flex-direction: column;
    }

      .thes-ex .right .feature{
        display: flex;
        padding: 1rem;
        background-color: white;
        margin-bottom: 0.5px;
        transition: background-color 0.5s ease;
      }

      .thes-ex .right .feature:hover{
        background-color: #D3D5D5;
      }

        .thes-ex .right .feature .text{
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          width: 65%;
          padding: 2rem;
        }

        .thes-ex .right .feature img{
          display: flex;
          flex-direction: column;
          width: 35%;
          height: 35%;
        }

/*footer*/

footer{
  width: 98.6%;/*value of 98.6% selected because 100% overflowed the screen*/

  display: inline-flex;
  justify-content: space-between;
  align-items: center;

  position: relative;
  top: 5rem;
  padding: 2rem 1rem;
  background-color: white;
  color: grey;
  border-top: 1px solid #D3D5D5;
}

  footer ul{
    display: flex;
    justify-content: space-around;
  }

    footer a{
      color: grey;
      margin: 0 0.5rem;
    }


/*MEDIA QUERIES*/

@media only screen and (max-width: 470px){
/*Header*/
.logo p{
  display: none;
}
  nav{
    width: 70%;
  }
    nav ul{
      width: 100%;
      justify-content: space-around;
    }

      nav li p{
        display: none;
      }

      nav li img{
        display: inline-block;
      }


/*banner*/
.banner{
  flex-direction: column;
  align-items: center;
}

  .banner .container{
    width: 100%;
  }

    .banner .container img{
      width: 100%;
      margin: 0;
    }

  .banner .side{
    width: 90%;
    margin: 2rem 1rem;
  }

    .banner .side h3{
      margin-bottom: 1.5rem;
    }

    .banner .side .button{
      background-color: #9e9c9c;
    }


/*on-campus*/

  .on-campus .left{
    display: none;
  }

  .on-campus .right{
    width: 100%;
    flex-direction: column;
  }

    .on-campus .right .feature{
      flex-direction: column;
      border: none;
    }

    .on-campus .right .feature img{
      width: 100%;
      height: 12rem;
      /*height: 50%; didn't manage to adjust height properly(out of proportions)*/
    }

    .on-campus .right .feature .text{
      padding: 1rem;
      width: 100%;
    }
      .on-campus .right .feature .text p{
        margin: 1rem 0;
      }


/*online*/
.online{
  background-color: white;
  border-top: 1px solid #D3D5D5;
  width: 100%;
  padding: 0;
}
  .online .container{
    flex-direction: column;

    width: 100%;
    margin: 1rem auto;
  }

    .online .container .element{
      background-color: #D3D5D5;
      width: 90%;
    }/*I didn't manage to center the elements*/

      .online .container .element img{
        display: none;
      }
      .online .container .element h3{
        margin: 1rem;
      }
      .online .container .element h4, .online .container .element p{
        display: none;
      }


/*thesis exhibit*/

.thes-ex {
  border-top: 1px solid #D3D5D5;
}

  .thes-ex h2{
    margin-bottom: 1rem;
  }

  .thes-ex .left{
    width: 100%;
  }

    .left .quote{
      display: none;
    }

    .thes-ex .left .vid-container{
      margin: 0;
    }

      .thes-ex .left .vid-container video{
        width: 100%;
        margin-top: 1rem;
        margin-bottom: 1.5rem;
      }

  .thes-ex .right{
    display: none;
  }


/*footer*/
footer{
  border: none;
}

  footer .copyrights{
    width: 100%;
    margin: 1rem 0;
  }

  footer ul{
    display: none;
  }
}
